<div class="modal">
    <ion-header-bar>
        <h1 class="title">Logout</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogout()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogout()">
            <div class="list">
                <label class="item">Are you sure you want to logout?</label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Log out</button>
                </label>
            </div>
        </form>
    </ion-content>
</div>